
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <%= form_with model: @user, url: permit_request_attendance_path(@user,params:{day: params[:day]}), local: true,  method: :patch do |f| %>
       <% @request_users.each do |user| %>
          <% if user.edit_request_record(@user.name).count >0 %>
             <div class="text-center mb-3"><h5><%= "[#{user.name}からの勤怠変更申請]" %></h5></div>
              <table class="table table-bordered table-striped" style="font-size:12px">
               <thead>
                <tr>
                    <th class="text-center align-middle" rowspan="3">日付</th>
                    <th class="text-center align-middle" rowspan="3">曜日</th>
                    <th class="text-center" colspan="4">変更前</th>
                    <th class="text-center" colspan="4">変更後</th>
                    <th class="text-center align-middle" rowspan="3">備考</th>
                    <th class="text-center align-middle" rowspan="3">指示者確認㊞</th>
                    <th class="text-center align-middle" rowspan="3">変更</th>
                    <th class="text-center align-middle" rowspan="3">勤怠を確認する</th>
                </tr>
                <tr>
                    <th class="text-center" colspan="2">出社</th>
                    <th class="text-center" colspan="2">退社</th>
                    <th class="text-center" colspan="2">出社</th>
                    <th class="text-center" colspan="2">退社</th>
                </tr>
                <tr>
                     <th class="text-center">時</th>
                     <th class="text-center">分</th>
                     <th class="text-center">時</th>
                     <th class="text-center">分</th>

                     <th class="text-center">時</th>
                     <th class="text-center">分</th>
                     <th class="text-center">時</th>
                     <th class="text-center">分</th>
                </tr>
               </thead>
               <tbody>
                   <% user.edit_request_record(@user.name).each do |attendance| %>
                    <%= f.fields_for "attendances[]", attendance do |af| %>
                    <tr>
                      <td class="text-center align-middle"><%= l(attendance.worked_on, format: :short) %></td> 
                      <td class="text-center  align-middle"><%= @week[attendance.worked_on.wday] %></td>
                      <td  class="align-middle"><%= l(attendance.started_at, format: :hour) if attendance.started_at.present?  %></td>
                      <td  class="align-middle"><%= l(attendance.started_at, format: :min) if attendance.started_at.present?  %></td>
                      <td  class="align-middle"><%= l(attendance.finished_at, format: :hour) if attendance.finished_at.present?  %></td>
                      <td  class="align-middle"><%= l(attendance.finished_at, format: :min) if attendance.finished_at.present?  %></td>
                      <td  class="align-middle"><%= l(attendance.request_startedtime, format: :hour) if attendance.request_startedtime.present?  %></td>
                      <td  class="align-middle"><%= l(attendance.request_startedtime, format: :min) if attendance.request_startedtime.present?  %></td>
                      <td  class="align-middle"><%= l(attendance.request_finishedtime, format: :hour) if attendance.request_finishedtime.present?  %></td>
                      <td  class="align-middle"><%= l(attendance.request_finishedtime, format: :min) if attendance.request_finishedtime.present?  %></td>
                      <td class="text-center"><%= attendance.note %></td> 
                      <td  class="align-middle">
                        <%= af.select :edit_permit, Attendance.edit_permits.keys.map {|k| [I18n.t("enums.attendance.edit_permit.#{k}"), k]}, {disabled: 0}, class: 'form-control' %>
                      </td>
                       <td  class="align-middle">
                         <td><%= link_to '勤怠確認', user_path(attendance.user,params:{first_day: attendance.worked_on}), class: 'btn btn-primary btn-sm' %></td>
                       </td>
                    </tr>
                    <% end %>
                   <% end %>
               </tbody>
              </table><br/>
          <% end %>
       <% end %>
        <div class="text-center pb-2"><%= f.submit "変更を送信する", class: "btn btn-primary btn-lg" %></div>
      <% end %>
    </div>
  </div>