
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="width:100%;">
      <div class="modal-body">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= form_with model:@user, url: response_superior_month_path(@user,params:{day: params[:day]}), local: true, mehod: :patch  do |f| %>
         <% @request_users.each do | user| %>
            <div class="text-center mb-3"><h5><%= "[#{user.name}からの一ヶ月分申請]" %></h5></div>
            <table class="table table-bordered table-striped" style="font-size:12px">
               <thead>
                <tr>
                    <th class="text-center align-middle">月</th>
                    <th class="text-center align-middle">指示者確認㊞</th>
                    <th class="text-center align-middle">変更</th>
                    <th class="text-center align-middle">勤怠を確認する</th>
                </tr>
               </thead>
               <tbody>
               <% user.month_request_record(@user.name).each do |month| %>
                <%= f.fields_for "months[]", month do |af| %>
                <tr>
                  <td class="text-center align-middle"><%= month.request_month %></td>
                  <td class="text-center align-middle">
                    <%= af.select :permit_month, Month.permit_months.keys.map {|k| [I18n.t("enums.month.permit_month.#{k}"), k]}, {disabled: 0}, class: 'form-control' %>
                  </td>
                   <td class="text-center align-middle">
                    <%= af.check_box :check %>
                  </td>
                  <td class="text-center align-middle">
                   <%= link_to '勤怠確認', user_path(user,params:{first_day: month.base_day}), class: 'btn btn-primary btn-sm' %>
                  </td>
                </tr>
                <% end %>
               <% end %>
               </tbody>
              </table><br/>
         <% end %>
           <div class="text-center">
               <%= f.submit '変更を送信する', class: 'btn btn-primary'%>
           </div>
        <% end %>
      </div>
    </div>
  </div>