
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="text-center h3 mt-3">[残業申請]</div>
        <%= form_with model: @attendance, 
            url:overtime_update_attendance_path(@attendance), 
            local: true, 
            method: :patch do |f| 
        %>
        <table class="table table-bordered mt-3">
          <thead>
            <tr>
             <th class="text-center">日付</th>
             <th class="text-center">曜日</th>
             <th class="text-center">終了予定時間</th>
             <th class="text-center">翌日</th>
             <th class="text-center">業務処理内容</th>
             <th class="text-center">支持者確認㊞</th>
          </tr>
          </thead>
          <tbody class="bg-light text-center">
            <tr>
              <td><%= l(@attendance.worked_on, format: :short) %></td>
              <td><%= @week[@attendance.worked_on.wday] %></td>
              <td><%= f.time_select :overtime, {}, class:'form-control tm' %></td>
              <td><%= f.check_box  :tommorow_check, class:'form-control' %></td>
              <td><%= f.text_field  :work_contents, class:'form-control' %></td>
              <td><%= f.select :superior_name, @superior_name, {},class: 'form-control' %></td>
              <%= f.hidden_field :permit, value: :inprogress %>
            </tr>
          </tbody>
        </table>
        <%= f.submit '申請する', class: 'btn btn-primary btn-block'%>
        <% end %>
    </div>
  </div>