<div class="text-center mt-5 mb-5"><h1><%= "#{@user.name}詳細" %></h1></div>
<%= link_to '戻る', users_path, class:"btn btn-secondary mb-3" %>
<table class="table table-bordered">
  <tbody>
    <tr>
      <th class="bg-dark text-center text-white">
        <%= User.human_attribute_name :id %>
      </th>
      <td class="text-center">
        <%= @user.id %>
      </td>
      <th class="bg-dark text-center text-white">
        <%= User.human_attribute_name :name %>
      </th>
      <td class="text-center">
        <%= @user.name %>
      </td>
      <th class="bg-dark text-center text-white">
        <%= User.human_attribute_name :email %>
      </th>
      <td class="text-center">
        <%= @user.email %>
      </td>
    </tr>
  </tbody>    
</table>