<div class="text-center mt-5 mb-5"><h1><%= "#{@user.name}詳細" %></h1></div>
<div id="over_time" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="over_time_permit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit_time_permit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="month_permit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>


<table class="table table-bordered">
  <tbody>
    <tr>
      <th class="bg-dark text-center text-white">
        <%= User.human_attribute_name :id %>
      </th>
      <td class="text-center">
        <%= @user.id %>
      </td>
      <th colspan="2" class="bg-dark text-center text-white">
        <%= User.human_attribute_name :name %>
      </th>
      <td colspan="2" class="text-center">
        <%= @user.name %>
      </td>
      <th class="bg-dark text-center text-white">
        <%= User.human_attribute_name :email %>
      </th>
      <td class="text-center">
        <%= @user.email %>
      </td>
    </tr>
    <!-- user info ２列目-->
    <tr>
      <th class="bg-dark text-center text-white">
        <%= User.human_attribute_name :department %>
      </th>
       <td class="text-center">
        <%= @user.department.present?? @user.department : '未登録' %>
      </td>
       <th class="bg-dark text-center text-white">
        <%= User.human_attribute_name :start_work_time %>
       </th>
       <td class="text-center">
        <%= @user.start_work_time.present?? @user.start_work_time : '未登録' %>
       </td>
       <th class="bg-dark text-center text-white">
         <%= User.human_attribute_name :finish_work_time %>
       </th>
       <td class="text-center">
         <%= @user.finish_work_time.present?? @user.finish_work_time : '未登録' %>
       </td>
       <th class="bg-dark text-center text-white">稼働時間</th>
       <td class="text-center">
         <%= "#{@user.operating_time_calc}時間" if @user.operating_time_calc.present? %>
       </td>
      
    </tr>
    <!-- user info 3列目-->
    <tr>
      <th class="bg-dark text-center text-white">
        <%= User.human_attribute_name :employee_number %>
      </th>
       <td colspan="3" class="text-center">
        <%= @user.employee_number.present?? @user.employee_number : '未登録' %>
      </td>
       <th class="bg-dark text-center text-white">
        <%= User.human_attribute_name :uid %>
       </th>
       <td colspan="3" class="text-center">
        <%= @user.uid.present?? @user.uid : '未登録' %>
       </td>
      
    </tr>
  </tbody>    
</table>
<div class="border-top"></div>
<div class="text-center mb-5 mt-2">勤怠管理表</div>
<% if @user == current_user || current_user.admin? %>
  <ul class="time-ul">
    <li class="time-list"><%= link_to "←", user_path(@user, params:{first_day: @first_day.prev_month}), class: 'btn btn-primary' %></li>
    <li class="time-list"><%= l(@first_day, format: :month) %></li>
    <li class="time-list"><%= link_to "→", user_path(@user, params:{first_day: @first_day.next_month}), class: 'btn btn-primary' %></li>
  </ul>
<% end %>

<div>
  <% if @user.superior %>
  　<div class="<%= @month_count == 0?'over_time_nil' : 'over_time_present'%>">
      [所属長承認申請のお知らせ]
      <%= link_to "#{@month_count}件の承認申請があります。",month_modal_user_path(@user,params:{day: @first_day}), remote: true, class:"user_request" if @month_count>0 %>
    </div>

    <div class="<%= @overtime_request_count == 0?'over_time_nil' : 'over_time_present'%>">
      [残業申請承認申請のお知らせ]
      <%= link_to "#{@overtime_request_count}件の残業申請があります。", overtime_confirm_modal_user_path(@user,params:{day: @first_day}), remote: true, class:"user_request" if @overtime_request_count>0 %>
    </div>

    <div class="<%= @edit_request_count == 0?'over_time_nil' : 'over_time_present'%>">
      [勤怠変更申請のお知らせ]
      <%= link_to "#{@edit_request_count}件の勤怠変更申請があります。", edit_permit_modal_user_path(@user,params:{day: @first_day}), remote: true, class:"user_request" if @edit_request_count>0 %>
    </div>
　<% end %>
</div>

<div class="row mt-2">
  <div class="col-md-3">
  <% if @user == current_user  %>
    <%=link_to '勤怠編集', edit_user_attendance_path(@user, @first_day), class: 'btn btn-primary mb-1' %>
    <%=link_to 'CSV出力', edit_user_attendance_path(@user, @first_day), class: 'btn btn-primary mb-1' %>
    <%=link_to '勤怠ログ', permit_logs_user_attendances_path(@user), class: 'btn btn-primary btn-block' %>
  <% end %>
  </div>
</div>
 <span>(カッコ内の数字は申請中の未確定の数字)</span>
<table class="table table-bordered">
  <thead>
    <tr>
     <% if @user == current_user %>
      <th rowspan="3" class="bg-light text-center align-middle">残業申請</th>
     <% end %>
      <th rowspan="3" class="bg-light text-center align-middle">日付</th>
      <th rowspan="3" class="bg-light text-center align-middle">曜日</th>
      <th colspan="6" class="bg-light text-center align-middle">[実績]</th>
      <th colspan="7" class="bg-light text-center align-middle">所定外時間</th>
     
    </tr>
    <tr>
      <th colspan="3" class="bg-light text-center">出勤時間</th>
      <th colspan="3" class="bg-light text-center">退勤時間</th>
      <th rowspan="3" class="bg-light text-center align-middle">合計時間</th>
      <th rowspan="2" class="bg-light text-center align-middle">備考</th>
      <th colspan="2" class="bg-light text-center align-middle">終了予定時間</th>
      <th rowspan="2" class="bg-light text-center align-middle">時間外時間</th>
      <th rowspan="2" class="bg-light text-center align-middle">業務内容</th>
      <th rowspan="2" class="bg-light text-center align-middle">所属長承認㊞</th>
    </tr>
    <tr>
      <th class="bg-light text-center">時</th>
      <th class="bg-light text-center">分</th>
      <th class="bg-light text-center"></th>
    
      <th class="bg-light text-center">時</th>
      <th class="bg-light text-center">分</th>
      <th class="bg-light text-center"></th>

      <th class="bg-light text-center">時</th>
      <th class="bg-light text-center">分</th>
    </tr>
  </thead>
  <tbody class="align-middle">
    <% @days.each do |day| %>
      <tr>
        <% if @user == current_user %>
          <td class="text-center align-middle">
            <%= link_to '残業申請', overtime_modal_open_attendance_users_path(day), 
            id: "overtime#{day.id}", 
            remote: true, class: "#{day.finished_at.present?? '' : 'disabled'} btn btn-primary"%>
          </td>
        <% end %>
        <td class="text-center align-middle"><%= l(day.worked_on, format: :short) %></td>
        <td class="text-center align-middle"><%= @week[day.worked_on.wday] %></td>
        <td class="text-center align-middle">
          <%= l(day.started_at, format: :hour) if day.started_at.present?  %>
          <%= day.request_startedtime.present?? "<p class='text-danger'>(#{day.request_startedtime.strftime('%H')})</p>".html_safe : '' %>
        </td>

        <td class="text-center align-middle">
          <%= l(day.started_at, format: :min) if day.started_at.present?  %>
          <%= day.request_startedtime.present?? "<p class='text-danger'>(#{day.request_startedtime.strftime('%M')})</p>".html_safe : '' %>
        </td>
        <td class="text-center align-middle">
          <% if day.started_at.nil? && day.worked_on == Date.today && @user == current_user %>
            <%= button_to '出勤',set_time_attendance_path(day), class: 'btn btn-primary btn-block' %>
          <% end %>
        </td>

        <td class="text-center align-middle">
          <%= l(day.finished_at, format: :hour) if day.finished_at.present?  %>
          <%= day.request_finishedtime.present?? "<p class='text-danger'>(#{day.request_finishedtime.strftime('%H')})</p>".html_safe : '' %>
        </td>


        <td class="text-center align-middle">
          <%= l(day.finished_at, format: :min) if day.finished_at.present?  %>
           <%= day.request_finishedtime.present?? "<p class='text-danger'>(#{day.request_finishedtime.strftime('%M')})</p>".html_safe : '' %>
        </td>
        <td class="text-center align-middle">
          <% if day.finished_at.nil? && day.started_at.present? && day.worked_on == Date.today && @user == current_user %>
             <%= button_to '退勤',set_time_attendance_path(day), class: 'btn btn-primary btn-block' %>
          <% end %>
        </td>
        <td class="text-center align-middle">
         <% if day.started_at.present? && day.finished_at.present? %>
           <%= day.day_total_time %>
         <% end %>
        </td>
        <td class="text-center align-middle"><%= day.note %></td>
        <td class="text-center align-middle"><%= l(day.overtime, format: :hour) if day.overtime.present?  %></td>
        <td class="text-center align-middle"><%= l(day.overtime, format: :min) if day.overtime.present?  %></td>
        <td class="text-center align-middle"></td>
        <td class="text-center align-middle"><%= day.work_contents %></td>
        <td class="text-center align-middle" style="font-size:12px;">
           <%= day.enum_check.blank? ? "" : "<p class='permit-#{day.permit}'>#{day.enum_check}</p>".html_safe %>
           <%= day.edit_enum_check.blank? ? "" : "<p class='permit-#{day.edit_permit}'>#{day.edit_enum_check}</p>".html_safe %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="2" class="bg-light  align-middle">出勤日数</th>
    　<td colspan="4" class="text-center align-middle"><%= @work_count %>日</td>
    　<th colspan="2" class="bg-light align-middle">合計時間</th>
    　<td colspan="4" class="text-center align-middle">
       <%= @user.month_total(@days)%>
      </td>
      <td colspan="4" class="text-center">
      <% if @user == current_user %>
        <%= form_with model: @month, url: month_path(@month), local: true, method: :patch do |f|  %>
          <p>所属長承認&emsp;<%= @month.month_status %></p>
          <%= f.select :superior_name, @superior_name, {}, class: 'form-control mb-3' %>
          <%= f.submit '申請', class: 'btn btn-primary btn-block' %>
          <%= f.hidden_field :permit_month, value: :inprogress3 %>
          <%= f.hidden_field :base_day, value: @first_day %>
        <% end %>
      <% end %>  
      </td>
    </tr>
  </tfoot>
</table>
<style>
.time-ul{
  list-style: none;
  text-align:center
}
.time-list{
  display: inline;
  margin-right:20%;
}
.over_time_nil{
  color: black;
  font-weight: bold;
}
.over_time_present{
  color: red;
  font-weight: bold;
}
.user_request{
  color: red;
  border: 1px solid red;
  text-decoration: none;
}
.user_request:hover{
  text-decoration: none;
}
.permit-inprogress, .permit-inprogress2{
  color:black;
  font-weight:bold;
}
.permit-ok, .permit-ok2{
  color:blue;
  font-weight:bold;
}
.permit-not, .permit-not2{
  color:red;
  font-weight:bold;
}
</style>