<div class="text-center mt-5 mb-5"><h1><%= "#{@user.name}詳細" %></h1></div>

<%= link_to '戻る', users_path, class:"btn btn-secondary mb-3" %>
<table class="table table-bordered">
  <tbody>
    <tr>
      <th class="bg-dark text-center text-white">
        <%= User.human_attribute_name :id %>
      </th>
      <td class="text-center">
        <%= @user.id %>
      </td>
      <th class="bg-dark text-center text-white">
        <%= User.human_attribute_name :name %>
      </th>
      <td class="text-center">
        <%= @user.name %>
      </td>
      <th class="bg-dark text-center text-white">
        <%= User.human_attribute_name :email %>
      </th>
      <td class="text-center">
        <%= @user.email %>
      </td>
    </tr>
  </tbody>    
</table>
<div class="border-top"></div>
<div class="text-center mb-5 mt-2">勤怠管理表</div>
<ul class="time-ul">
  <li class="time-list"><%= link_to "←", user_path(@user, params:{first_day: @first_day.prev_month}), class: 'btn btn-primary' %></li>
  <li class="time-list"><%= l(@first_day, format: :month) %></li>
  <li class="time-list"><%= link_to "→", user_path(@user, params:{first_day: @first_day.next_month}), class: 'btn btn-primary' %></li>
</ul>
<%=link_to '勤怠編集', edit_user_attendance_path(@user, @first_day), class: 'btn btn-primary mb-1' %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th rowspan="2" class="bg-light text-center align-middle">日付</th>
      <th rowspan="2" class="bg-light text-center align-middle">曜日</th>
      <th colspan="3" class="bg-light text-center">出勤時間</th>
      <th colspan="3" class="bg-light text-center">退勤時間</th>
      <th rowspan="2" class="bg-light text-center align-middle">合計時間</th>
      <th rowspan="2" class="bg-light text-center align-middle">メモ</th>
    </tr>
    <tr>
      <th class="bg-light text-center">時</th>
      <th class="bg-light text-center">分</th>
      <th class="bg-light text-center"></th>
    
      <th class="bg-light text-center">時</th>
      <th class="bg-light text-center">分</th>
      <th class="bg-light text-center"></th>
    </tr>
  </thead>
  <tbody>
    <% @days.each do |day| %>
      <tr>
        <td class="text-center"><%= l(day.worked_on, format: :short) %></td>
        <td class="text-center"><%= @week[day.worked_on.wday] %></td>
        <td class="text-center"><%= l(day.started_at, format: :hour) if day.started_at.present?  %></td>
        <td class="text-center"><%= l(day.started_at, format: :min) if day.started_at.present?  %></td>
        <td class="text-center">
          <% if day.started_at.nil? && day.worked_on == Date.today %>
            <%= button_to '出勤',set_time_attendance_path(day), class: 'btn btn-primary btn-block' %>
          <% end %>
        </td>
        <td class="text-center"><%= l(day.finished_at, format: :hour) if day.finished_at.present?  %></td>
        <td class="text-center"><%= l(day.finished_at, format: :min) if day.finished_at.present?  %></td>
        <td class="text-center">
          <% if day.finished_at.nil? && day.started_at.present? && day.worked_on == Date.today %>
             <%= button_to '退勤',set_time_attendance_path(day), class: 'btn btn-primary btn-block' %>
          <% end %>
        </td>
        <td class="text-center">
         <% if day.started_at.present? && day.finished_at.present? %>
           <%= day.day_total_time %>
         <% end %>
        </td>
        <td class="text-center"><%= day.note %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="2" class="bg-light">出勤日数</th>
    　<td colspan="2" class="text-center"><%= @work_count %>日</td>
    　<th colspan="2" class="bg-light">合計時間</th>
    　<td colspan="4" class="text-center">
       <%= @user.month_total(@days)%>
      </td>
    </tr>
  </tfoot>
</table>
<style>
.time-ul{
  list-style: none;
  text-align:center
}
.time-list{
  display: inline;
  margin-right:20%;
}

</style>