<div class="text-center mt-5 mb-5"><h1>勤怠ログ</h1></div>

<button class="btn btn-secondary">リセット</button>
<h1 id="tst">test</h1>

<div class="row">
 <div class="col-md-6">
 <%= form_tag({controler: 'attendances',action: 'data'}, remote:true, id:'myform') do  %>
 <!--最初のセレクト-->
   <div class="input-group">
    <label class="input-group-btn m-0" style="width:15%;" >
      <%= select_tag nil,  options_for_select(@years), class:'custom-select', id: 'yearSelect' %>
    </label>
    <%= text_field_tag :year,nil, class: "form-control", readonly: true, id: "yearText" %>
　 </div>
 <!--次のセレクト-->
   <div class="input-group" id="monthGroup">
    <label class="input-group-btn m-0" style="width:15%;" >
        <%= select_tag nil, options_for_select(@months), class:'custom-select', id: 'monthSelect' %>
    </label>
    <%= text_field_tag :month, nil, class: "form-control", readonly: true,  id: "monthText" %>
　 </div>
 </div>
</div>

<% end %>
<table class="table table-bordered table-striped" id="logTable">
      <thead>
        <tr>
            <th class="bg-light text-center">日付</th>
            <th class="bg-light text-center">変更前出社時間</th>
            <th class="bg-light text-center">変更前退社時間</th>
            <th class="bg-light text-center">変更後出社</th>
            <th class="bg-light text-center">変更後退社</th>
            <th class="bg-light text-center">指示者</th>
            <th class="bg-light text-center">承認日</th>
        </tr>
      </thead>
</table>
